<!DOCTYPE html>
<html ng-app="ezbooking" lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Forms Layouts | Materialize - Material Design Admin Template</title>

  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  <link href="css/map.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  
  <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->    
  <link href="css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body ng-controller="AddOutletController">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">                        
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
  <toaster-container></toaster-container>
    <!-- START WRAPPER -->
    <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li>
                                    <li><a href="" ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{authUser.name}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="bold"><a href="supplier.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Supplier</a>
                    </li>  
                    <li class="bold active"><a href="outlet.html" class="waves-effect waves-cyan"><i class="mdi-action-room"></i> Outlet</a>
                    </li>       
                    <li class="bold"><a href="wallet.html" class="waves-effect waves-cyan"><i class="mdi-action-payment"></i> Wallet</a>
                    </li>    
                </ul>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Add New Outlet</h5>
                <ol class="breadcrumbs">
                  <li><a href="index.html">Dashboard</a>
                  </li>
                  <li><a href="outlet.html">Outlet</a>
                  </li>
                  <li class="active">Add New Outlet</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->


        <!--start container-->
        <div class="container">

          <!--Form Advance-->          
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <div class="row">
                  <form class="col s12" ng-submit="save(outlet)">
                    <div class="row">
                      <div class="input-field col s6">
                        <select class="" ng-model="outlet.value" material-select watch>
                            <option value="">Please choose supplier</option>
                            <option ng-repeat="user in supplier | filter: {assignStatus: 0}" value="{{user.$id}}">{{user.name}}</option>
                        </select>
                      </div>
                      <div class="input-field col s6">
                        <select class="" ng-model="outlet.categoryId" material-select watch>
                            <option value="">Please choose category</option>
                            <option ng-repeat="category in categories" value="{{category.$id}}">{{category.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="outletName" type="text" ng-model="outlet.name">
                        <label for="outletName">Outlet Name</label>
                        <!-- <div class="section col s4">
                            <h5>You selected: <b>{{outlet.value}}</b></h5>
                        </div> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea ng-model="outlet.description" class="materialize-textarea"></textarea>
                        <label>Outlet Description</label>
                      </div>
                    </div>
                    
                    <div class="row">
                    <br><br>
                      <div class="input-field col s12">
                          <style type="text/css">
                              .controls { 
                                  height: 8% !important;
                                  position: absolute !important;
                                  top: 3.1% !important;
                              }
                          </style>
                          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                          <div id="dancok" style="width:100%;height:380px;"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s6">
                        <input id="lat" type="hidden" ng-model="outlet.lat" placeholder="Outlet Latitude">
                      </div>
                      <div class="input-field col s6">
                        <input id="lng" type="hidden" ng-model="outlet.lng" placeholder="Outlet Longitude" value="">
                      </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                            <i class="mdi-content-send right"></i>
                          </button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- END CONTENT -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  </div>
  <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2016 <a class="grey-text text-lighten-4" href="http://ativesoft.com" target="_blank">Ativesoft</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">Ativesoft</a></span>
        </div>
    </div>
  </footer>
  <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->

    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>

    <!-- ANGULAR FIRE -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <!-- ANGULAR MOMENT -->
    <script src="http://momentjs.com/downloads/moment.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--angular-materialize js-->
    <script type="text/javascript" src="js/plugins/angular-materialize.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbgbSW0f8YxdG-mbJEwg4OkPBMsjy2imM&libraries=places&callback=initAutocomplete" async defer></script>
    <script type="text/javascript" src="js/plugins/google-map/google-map-script.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>   
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>


    <script type="text/javascript">
      var app = angular.module("ezbooking", ["firebase", "ui.materialize", "ngAnimate", "toaster"]);

      app.controller("AddOutletController", ["$scope", "$firebaseAuth", "toaster", "$firebaseArray", "$firebaseObject", 
        function($scope, $firebaseAuth, toaster, $firebaseArray, $firebaseObject) {

          var ref = new Firebase("https://ez-booking.firebaseio.com/users");
          var users = $firebaseArray(ref.orderByChild("type").equalTo(1));

          var categoryRef = new Firebase("https://ez-booking.firebaseio.com/categories");
          $scope.categories = $firebaseArray(categoryRef);
          $scope.outlet = {lat: 0, lng: 0};
          
          $scope.supplier = users;
          $scope.outlet = [{selected: {}}];
          $scope.outlet = [{gambar: {}}];
          $scope.outlet.selected = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0};
          $scope.outlet.gambar = {0: "", 1: "", 2: "", 3: ""};

          var authRef = new Firebase("https://ez-booking.firebaseio.com/");
          auth = $firebaseAuth(authRef);
          $scope.logout = function()
          {
              auth.$unauth();
              window.location.href = 'login.html';
          }

          auth.$onAuth(function(authData) {
            if (authData) {
              var obj = $firebaseObject(ref.child(authData.uid));
              obj.$loaded()
                .then(function(data) {
                  $scope.authUser = data;
                })
                .catch(function(error) {
                  // Display toast here
                });
            } else {
              window.location.href="login.html";
            }
          });

          $scope.save = function(outlet){
            var ref = new Firebase("https://ez-booking.firebaseio.com/outlets/");
            var lat = angular.element('#lat').val();
            var lng = angular.element('#lng').val();
            $scope.outlet.lat = lat;
            $scope.outlet.lng = lng;
            $scope.outlet.picture = "";
            $scope.outlet.rate = 0;

            if($scope.outlet === undefined)
            {
                toaster.pop('error', "Please fill the missing field.");
                return;
            }
            else if($scope.outlet.value === undefined || $scope.outlet.value === '')
            {
                toaster.pop('error', "Please choose the supplier.");
                return;
            }
            else if($scope.outlet.name === undefined || $scope.outlet.name === '')
            {
                toaster.pop('error', "Please fill the name field.");
                return;
            }
            else if($scope.outlet.description === undefined || $scope.outlet.description === '')
            {
                toaster.pop('error', "Please fill the description field.");
                return;
            } 
            else if($scope.outlet.categoryId === undefined || $scope.outlet.categoryId === '')
            {
                toaster.pop('error', "Please fill the price field.");
                return;
            }
            else if($scope.outlet.lng === undefined || $scope.outlet.lng === '')
            {
                toaster.pop('error', "Please choose the location.");
                return;
            }
            else if($scope.outlet.lat === undefined || $scope.outlet.lat === '')
            {
                toaster.pop('error', "Please choose the location.");
                return;
            }
            
            var outletData = {
                name: outlet.name,
                description: outlet.description,
                lng: Number($scope.outlet.lng),
                lat: Number($scope.outlet.lat),
                categoryId: outlet.categoryId,
                rate: $scope.outlet.rate,
                userId: outlet.value,
                pictures: $scope.outlet.gambar,
                totalBookings: 0,
                totalMembers: 0,
                totalWallets: 0,
                totalSales: 0
            };

            ref.push(outletData, function(error) {
                  if (error) {
                    // Display toast here
                  } else {
                    window.location.href="outlet.html";
                  }
                });
            var userRef = new Firebase("https://ez-booking.firebaseio.com/users");
            userRef.child(outlet.value).child("assignStatus").set(1);
          };
          $scope.toggleAll = function(source) {
                if($scope.selectedAll)
                {
                    $scope.outlet.selected = {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1};
                }
                else
                {
                    $scope.outlet.selected = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0};
                }
          }
          

          $scope.times = [{
            id: 1,
            name: '08.00 - 09.00',
            col: 1
          },
          {
            id: 2,
            name: '09.00 - 10.00',
            col: 1
          },
          {
            id: 3,
            name: '10.00 - 11.00',
            col: 1
          },
          {
            id: 4,
            name: '11.00 - 12.00',
            col: 1
          },
          {
            id: 5,
            name: '12.00 - 13.00',
            col: 1
          },
          {
            id: 6,
            name: '13.00 - 14.00',
            col: 1
          },
          {
            id: 7,
            name: '14.00 - 15.00',
            col: 1
          },
          {
            id: 8,
            name: '15.00 - 16.00',
            col: 2
          },
          {
            id: 9,
            name: '16.00 - 17.00',
            col: 2
          },
          {
            id: 10,
            name: '17.00 - 18.00',
            col: 2
          },
          {
            id: 11,
            name: '18.00 - 19.00',
            col: 2
          },
          {
            id: 12,
            name: '19.00 - 20.00',
            col: 2
          },
          {
            id: 13,
            name: '20.00 - 21.00',
            col: 2
          },
          {
            id: 14,
            name: '21.00 - 22.00',
            col: 2
          }
          ];
      }]);
    </script>
</body>

</html>