<!DOCTYPE html>
<html ng-app="ezbooking" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Forms Layouts | Materialize - Material Design Admin Template</title>

  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->    
  <link href="css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />

</head>

<body ng-controller="AddSupplierController">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">                        
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <toaster-container></toaster-container>
    <!-- START WRAPPER -->
    <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li>
                                    <li><a href="" ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{authUser.name}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="bold active"><a href="supplier.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Supplier</a>
                    </li> 
                    <li class="bold"><a href="outlet.html" class="waves-effect waves-cyan"><i class="mdi-action-room"></i> Outlet</a> 
                    <li class="bold"><a href="wallet.html" class="waves-effect waves-cyan"><i class="mdi-action-payment"></i> Wallet</a>
                    </li>
                    <li class="bold"><a href="booking.html" class="waves-effect waves-cyan"><i class="mdi-action-schedule"></i> Booking</a>
                    </li>                 
                </ul>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Edit Supplier</h5>
                <ol class="breadcrumbs">
                  <li><a href="index.html">Dashboard</a>
                  </li>
                  <li><a href="supplier.html">Supplier</a>
                  </li>
                  <li class="active">Edit Supplier</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->


        <!--start container-->
        <div class="container">

          <!--Form Advance-->          
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <div class="row">
                  <a class="waves-effect waves-light btn red right modal-trigger" href="#modalDeleteSupplier">delete supplier</a> 
                </div>
                <div id="modalDeleteSupplier" class="modal">
                  <div class="modal-content red lighten-2 white-text">
                    <p>Are you sure want to delete this supplier ?</p>
                  </div>
                  <div class="modal-footer red lighten-4">
                    <a href="" class="waves-effect waves-red btn-flat modal-action modal-close">Cancel</a>
                    <a href="" ng-click="remove()" class="waves-effect waves-green btn-flat modal-action modal-close">OK</a>
                  </div>
                </div>

                <br>
                <div class="row">
                  <form class="col s12" ng-submit="submit(user)">
                    <div class="row">
                      <div class="input-field col s12">
                        <input disabled placeholder="Your email" id="email" type="email" ng-model="user.email">
                        <label for="email">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="Your name" id="first_name" type="text" ng-model="user.name">
                        <label for="first_name">Full Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s6">
                        <input placeholder="Your phone number" id="phone_number" type="text" ng-model="user.phone">
                        <label for="phone_number">Phone Number</label>
                      </div>
                      <div class="input-field col s6">
                        <label for="dob">Input date</label>
                        <input input-date
                            type="text"
                            name="dob"
                            id="dob"
                            ng-model="user.dobTime"
                            container="body"
                            format="dd mmmm yyyy"
                            months-full="{{ month }}"
                            months-short="{{ monthShort }}"
                            weekdays-full="{{ weekdaysFull }}"
                            weekdays-short="{{ weekdaysShort }}"
                            weekdays-letter="{{ weekdaysLetter }}"
                            max="{{ maxDate }}"
                            today="today"
                            clear="clear"
                            close="close"
                            select-years="60" />
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col s6"><p>Gender</p></div>
                    </div>
                    <div class="row">
                      <div class="col s6">
                          <p>
                            <input name="gender" type="radio" id="male" value="1" ng-model="user.gender">
                            <label for="male">Male</label>
                          </p>
                          <p>
                            <input name="gender" type="radio" id="female" value="0" ng-model="user.gender">
                            <label for="female">Female</label>
                          </p>
                      </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                            <i class="mdi-content-send right"></i>
                          </button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- END CONTENT -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  </div>
  <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2016 <a class="grey-text text-lighten-4" href="http://ativesoft.com" target="_blank">Ativesoft</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">Ativesoft</a></span>
        </div>
    </div>
  </footer>
  <!-- END FOOTER -->
  
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>

    <!-- ANGULAR FIRE -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="js/plugins/angular-materialize.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>
    <!-- ANGULAR MOMENT -->
    <script src="http://momentjs.com/downloads/moment.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>

    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--angular-materialize js-->
    
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>   
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>

    <script type="text/javascript">
      var app = angular.module("ezbooking", ["firebase", "ui.materialize", "toaster", "ngAnimate"]);

      app.controller("AddSupplierController", ["$scope", "$firebaseAuth", "$firebaseObject", "toaster", 
        function($scope, $firebaseAuth, $firebaseObject, toaster) {
          var authRef = new Firebase("https://ez-booking.firebaseio.com/");
          auth = $firebaseAuth(authRef);
          var uid = window.location.hash.substring(1);

          $scope.logout = function()
          {
              auth.$unauth();
              window.location.href = 'login.html';
          }

          auth.$onAuth(function(authData) {
            if (authData) {
              var authUserRef = new Firebase("https://ez-booking.firebaseio.com/users/"+authData.uid);
              var obj = $firebaseObject(authUserRef);
              obj.$loaded()
                .then(function(data) {
                  $scope.authUser = data;
                })
                .catch(function(error) {
                  // Display toast here
                });
            } else {
              window.location.href="login.html";
            }
          });

          $scope.submit = function(user) {
            var userRef = new Firebase("https://ez-booking.firebaseio.com/users/"+uid);
            var timestamp = new Date(user.dobTime).getTime();

            if($scope.user.name === '')
            {
                toaster.pop('error', "Please fill the fullname field.");
                return;
            }
            else if($scope.user.phone === '')
            {
                toaster.pop('error', "Please fill the phone field.");
                return;
            }
            else if(timestamp === '')
            {
                toaster.pop('error', "Please choose your date of birth.");
                return;
            }
            else if($scope.user.gender === '')
            {
                toaster.pop('error', "Please choose your gender.");
                return;
            }
            toaster.pop('success', "Supplier has been edited.");
            var profile = {
              name: user.name,
              gender: Number(user.gender),
              dob: timestamp,
              phone: user.phone
            };
            userRef.update(profile, function(error) {
              if (error) {
                // Display toast here
              } else {
                window.location.href="supplier.html";
              }
            });  
          }

          $scope.remove = function() {
            console.log("masuk");
            var userRef = new Firebase("https://ez-booking.firebaseio.com/users/"+uid);
            var profile = {
              type: 3
            };
            userRef.update(profile, function(error) {
              if (error) {
                // Display toast here
              } else {
                window.location.href="supplier.html";
              }
            });  
          }

          var currentTime = new Date();
          $scope.currentTime = currentTime;
          $scope.month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
          $scope.monthShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
          $scope.weekdaysFull = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
          $scope.weekdaysLetter = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
          $scope.disable = [false, 1, 7];
          $scope.today = 'Today';
          $scope.clear = 'Clear';
          $scope.close = 'Close';
          var days = 15;
          $scope.maxDate = (new Date($scope.currentTime.getTime())).toISOString();

          var ref = new Firebase("https://ez-booking.firebaseio.com/users/"+uid);
          var obj = $firebaseObject(ref);
          obj.$loaded()
            .then(function(data) {
              data.dobTime = new Date(data.dob);
              $scope.user = data;
            })
            .catch(function(error) {
              // Display toast here
            });
      }]);
    </script>
</body>

</html>