<!DOCTYPE html>
<html ng-app="ezbooking" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Materialize - Material Design Admin Template</title>

    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->


    <!-- CORE CSS-->    
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <link href="css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body ng-controller="DashboardController">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">                        
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li>
                                    <li><a href="" ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{authUser.name}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold active"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="bold"><a href="supplier.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Supplier</a>
                    </li>             
                    <li class="bold"><a href="outlet.html" class="waves-effect waves-cyan"><i class="mdi-action-room"></i> Outlet</a>
                    </li>  
                    <li class="bold"><a href="wallet.html" class="waves-effect waves-cyan"><i class="mdi-action-payment"></i> Wallet</a>
                    </li>
                    <li class="bold"><a href="booking.html" class="waves-effect waves-cyan"><i class="mdi-action-schedule"></i> Booking</a>
                    </li>  
                </ul>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                    <!--card stats start-->

                    <!-- <div id="card-stats">
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <div class="card">
                                    <div class="card-content  green white-text">
                                        <p class="card-stats-title"><i class="mdi-social-group-add"></i> New Clients</p>
                                        <h4 class="card-stats-number">566</h4>
                                        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from yesterday</span>
                                        </p>
                                    </div>
                                    <div class="card-action  green darken-2">
                                        <div id="clients-bar" class="center-align"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l3">
                                <div class="card">
                                    <div class="card-content pink lighten-1 white-text">
                                        <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> New Invoice</p>
                                        <h4 class="card-stats-number">1806</h4>
                                        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down"></i> 3% <span class="deep-purple-text text-lighten-5">from last month</span>
                                        </p>
                                    </div>
                                    <div class="card-action  pink darken-2">
                                        <div id="invoice-line" class="center-align"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l3">
                                <div class="card">
                                    <div class="card-content blue-grey white-text">
                                        <p class="card-stats-title"><i class="mdi-action-trending-up"></i> Today Profit</p>
                                        <h4 class="card-stats-number">$806.52</h4>
                                        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 80% <span class="blue-grey-text text-lighten-5">from yesterday</span>
                                        </p>
                                    </div>
                                    <div class="card-action blue-grey darken-2">
                                        <div id="profit-tristate" class="center-align"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l3">
                                <div class="card">
                                    <div class="card-content purple white-text">
                                        <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Total Sales</p>
                                        <h4 class="card-stats-number">$8990.63</h4>
                                        <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 70% <span class="purple-text text-lighten-5">last month</span>
                                        </p>
                                    </div>
                                    <div class="card-action purple darken-2">
                                        <div id="sales-compositebar" class="center-align"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!--card stats end-->

                    <!--card widgets start-->

                    
                    <!--card widgets end-->

                    <!--work collections start-->
                    <div id="adding-responsiveness" class="section">
                        <div class="row">
                            
                            <div class="col s12 m8 l9">
                                <div class="row">
                                        
                                        <div class="grid-example col s12 m6 green">
                                            <div class="card">
                                                <div class="card-content green lighten-1 white-text">
                                                    <p class="card-stats-title"><i class="mdi-action-room"></i>Total Outlets</p>
                                                    <h4 class="card-stats-number">{{totalOutlets.length}}</h4>
                                                </div>
                                                <div class="card-action green darken-2">
                                                    <div id="sales-compositebar" class="center-align"></div>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="grid-example col s12 m6 pink">    
                                            <div class="card">
                                                <div class="card-content pink lighten-1 white-text">
                                                    <p class="card-stats-title"><i class="mdi-social-group-add"></i>Total Customers</p>
                                                    <h4 class="card-stats-number" >{{totalCustomers.length}}</h4>
                                                    
                                                </div>
                                                <div class="card-action pink darken-2">
                                                    <div id="clients-bar" class="center-align"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div id="adding-responsiveness" class="section">
                        <div class="row">
                            
                            <div class="col s12 m8 l9">
                                <div class="row">
                                        <a href="wallet.html">
                                        <div class="grid-example col s12 m6 blue-grey">
                                            <div class="card">
                                                <div class="card-content blue-grey lighten-1 white-text">
                                                    <p class="card-stats-title"><i class="mdi-action-payment"></i>Total Wallets</p>
                                                    <h4 class="card-stats-number">{{totalWallets.length}}</h4>
                                                </div>
                                                <div class="card-action blue-grey darken-2">
                                                    <div id="sales-compositebar" class="center-align"></div>
                                                </div>
                                            </div> 
                                        </div></a>

                                        <div class="grid-example col s12 m6 purple">    
                                            <div class="card">
                                                <div ng-init="items.total = {}" class="card-content purple lighten-1 white-text">
                                                    <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Total Sales</p>
                                                    <h4 class="card-stats-number" ng-bind="totalSalesWallets"></h4>
                                                    
                                                </div>
                                                <div class="card-action  purple darken-2">
                                                    <div id="clients-bar" class="center-align"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--work collections end-->

                    <!-- Floating Action Button -->
                    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                        <a class="btn-floating btn-large">
                          <i class="mdi-action-stars"></i>
                        </a>
                        <ul>
                          <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                          <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                          <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                          <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
                        </ul>
                    </div>
                    <!-- Floating Action Button -->

                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->

    <!-- START FOOTER -->
    <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2016 <a class="grey-text text-lighten-4" href="http://ativesoft.com" target="_blank">Ativesoft</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">Ativesoft</a></span>
        </div>
    </div>
    </footer>
    <!-- END FOOTER -->

    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script> 
    <script type="text/javascript" src="js/plugins/data-tables/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-datatables.js"></script>
    
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
    
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    
    <!-- ANGULAR MOMENT -->
    <script src="http://momentjs.com/downloads/moment.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
    
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>

    <script type="text/javascript">
      var app = angular.module("ezbooking", ["firebase", "angularMoment", "ngResource"]);

      app.controller("DashboardController", ["$scope", "$firebaseAuth", "$firebaseArray", "$firebaseObject",
        function($scope, $firebaseAuth, $firebaseArray, $firebaseObject) {
            var ref = new Firebase("https://ez-booking.firebaseio.com/");
            auth = $firebaseAuth(ref);

            var outletCount = 0;
            var outletRef = new Firebase("https://ez-booking.firebaseio.com/outlets");
            $scope.totalOutlets = $firebaseArray(outletRef);
            // var outletObj = $firebaseArray(outletRef);
            // outletObj.$loaded()
            // .then(function(data) {
            //   // data.forEach(function(dinoSnapshot) {
            //   //     count = count + dinoSnapshot.amount;
            //   //   });
            //   $scope.totalOutlets = data.length;
            //   // $scope.user = data;
            // })
            // .catch(function(error) {
            //   // Display toast here
            // });

            var walletCount = 0;
            var walletRef = new Firebase("https://ez-booking.firebaseio.com/wallets");
            $scope.totalWallets = $firebaseArray(walletRef);
            // var walletObj = $firebaseArray(walletRef);
            // walletObj.$loaded()
            // .then(function(data) {
            //   // data.forEach(function(dinoSnapshot) {
            //   //     count = count + dinoSnapshot.amount;
            //   //   });
            //   $scope.totalWallets = data.length;
            //   // $scope.user = data;
            // })
            // .catch(function(error) {
            //   // Display toast here
            // });
            $scope.totalSalesWallets = 0;
            var walletSalesCount = 0;
            var walletSalesRef = new Firebase("https://ez-booking.firebaseio.com/wallets");
            // $scope.totalSalesWallets = $firebaseArray(walletSalesRef.orderByChild("status").equalTo(3));

            walletSalesRef.orderByChild("status").equalTo(3).on("child_added", function(snapshot) {
                walletSalesCount = walletSalesCount + snapshot.val().amount;
                $scope.totalSalesWallets = walletSalesCount;
            });
            // walletSalesRef.orderByChild("status").equalTo(3).on("child_changed", function(snapshot) {
            //     walletSalesCount = snapshot.val().amount;
            //     $scope.totalSalesWallets = walletSalesCount;
            // });
            walletSalesRef.orderByChild("status").equalTo(3).on("child_removed", function(snapshot) {
                walletSalesCount = walletSalesCount - snapshot.val().amount;
                $scope.totalSalesWallets = walletSalesCount;
            });
            // var walletSalesObj = $firebaseArray(walletSalesRef.orderByChild("status").equalTo(3));
            // walletSalesObj.$loaded()
            // .then(function(data) {
            //   data.forEach(function(paidWallets) {
            //       walletSalesCount = walletSalesCount + paidWallets.amount;
            //     });
            //   $scope.totalSalesWallets = walletSalesCount;
            //   console.log($scope.totalSalesWallets);
            //   // $scope.user = data;
            // })
            // .catch(function(error) {
            //   // Display toast here
            // });

            var userCount = 0;
            var userRef = new Firebase("https://ez-booking.firebaseio.com/users");
            $scope.totalCustomers = $firebaseArray(userRef.orderByChild("type").equalTo(0));
            // var userObj = $firebaseArray(userRef.orderByChild("type").equalTo(0));
            // userObj.$loaded()
            // .then(function(data) {
            //   // data.forEach(function(dinoSnapshot) {
            //   //     count = count + dinoSnapshot.amount;
            //   //   });
            //   $scope.totalUsers = data.length;
            //   // $scope.user = data;
            // })
            // .catch(function(error) {
            //   // Display toast here
            // });

            $scope.logout = function()
            {
                auth.$unauth();
                window.location.href = 'login.html';
            }

            auth.$onAuth(function(authData) {
            if (authData) {
              var userRef = new Firebase("https://ez-booking.firebaseio.com/users/"+authData.uid);
              var obj = $firebaseObject(userRef);
              obj.$loaded()
                .then(function(data) {
                  $scope.authUser = data;
                })
                .catch(function(error) {
                  // Display toast here
                });
            } else {
              window.location.href="login.html";
            }
          });

        }]);
    </script>
</body>

</html>