<!DOCTYPE html>
<html ng-app="ezbooking" lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Forms Layouts | Materialize - Material Design Admin Template</title>

  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  <link href="css/map.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  
  <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->    
  <link href="css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body ng-controller="AddOutletController">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">                        
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
  <toaster-container></toaster-container>
    <!-- START WRAPPER -->
    <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li>
                                    <li><a href="" ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{authUser.name}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="bold"><a href="supplier.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Supplier</a>
                    </li>  
                    <li class="bold active"><a href="outlet.html" class="waves-effect waves-cyan"><i class="mdi-action-room"></i> Outlet</a>
                    </li>       
                    <li class="bold"><a href="wallet.html" class="waves-effect waves-cyan"><i class="mdi-action-payment"></i> Wallet</a>
                    </li>    
                </ul>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Add New Outlet</h5>
                <ol class="breadcrumbs">
                  <li><a href="index.html">Dashboard</a>
                  </li>
                  <li><a href="outlet.html">Outlet</a>
                  </li>
                  <li class="active">Add New Outlet</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->


        <!--start container-->
        <div class="container">

          <!--Form Advance-->          
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <div class="row">

                  <div class="row">
                      <div class="input-field col s6">
                          <input id="field-name" type="text" class="">
                          <label for="purchase_code">Field Name</label>
                      </div>
                  </div>
                  

                  <form class="col s12" ng-submit="save(outlet)">
                    
                    
                    <div class="row">
                      <div class="input-field col s9">
<!--                         Operation Hours
 -->
                        
                        <table class="bordered">
                        <!-- <input type="checkbox" ng-model="selectedAll" id="selectAll" ng-click="toggleAll(this)"/> 
                      <label for="selectAll">Select All</label><br/> -->
                    <thead>
                      
                      <tr>
                        <th data-field="id">No</th>
                        <th data-field="name">Operation Hours</th>
                        <th data-field="price">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(i, time) in times">
                        <td>{{i+1}}</td>

                        <td ng-if="jamOutlet[i] == null">
                        <input disabled ng-true-value="1" ng-false-value="0" class="checkboxList" name="foo" type="checkbox" id="{{time.id}}" ng-model="outlet.selected[i]" ng-checked="outlet.priceSelected[i] != 0 && outlet.priceSelected[i] != null" value={{time.name}}/>
                            <label for="{{time.id}}">{{time.name}}</label>
                        </td>

                        <td ng-if="jamOutlet[i] == null">
                          <input id="{{time.id}}" ng-model="outlet.priceSelected[i]" type="number" min="0"></input>
                        </td>
                        <!-- ng-if="outlet.selected[i] != 0" -->
                        <!-- <td ng-if="jamOutlet[i] != null">
                        <input disabled ng-true-value="1" ng-false-value="0" class="checkboxList" name="foo" type="checkbox" id="{{time.id}}" ng-model="outlet.selectedAfterNotNull[i]" value={{time.name}} ng-checked="outlet.priceSelecteds[i] != 0 && outlet.priceSelecteds[i] != null"/>
                        <label for="{{time.id}}">{{time.name}}</label>
                        </td>
                        <td ng-if="jamOutlet[i] != null">
                        <input id="{{time.id}}" 
                         
                        ng-model="outlet.priceSelecteds[i]" type="number" min="0"></input>
                        <!-- ng-if="outlet.selectedAfterNotNull[i] != 0 || (outlet.priceSelecteds[i] != 0)" -->
                        <!-- </td> -->

                      </tr>
                    </tbody>
                  </table>
                        <!-- <p>
                          <input type="checkbox" ng-model="selectedAll" id="selectAll" ng-click="toggleAll(this)"/> 
                          <label for="selectAll">Select All</label><br/>  
                        </p>
                        
                        <p ng-repeat="(i, time) in times">
                            <input class="checkboxList" name="foo" type="checkbox" id="{{time.id}}" ng-model="outlet.selected[i]" ng-true-value="1" ng-false-value="0" value={{time.name}}/>
                            <label for="{{time.id}}">{{time.name}}</label>
                            
                          
                            
                            <!-- <input type="checkbox" ng-model="myCountry.selected[country.id]" ng-true-value="'{{country.name}}'" ng-false-value="''">{{country.name}} -->
                        <!-- </p> --> 

                        
                      </div>

                      
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                        <a href="operation-hours.html#{{outletId}}" class="btn cyan waves-effect waves-light">Cancel</a>
                        <button class="btn cyan waves-effect waves-light" type="submit" name="action">Submit
                          <i class="mdi-content-send right"></i>
                        </button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- END CONTENT -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  </div>
  <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2016 <a class="grey-text text-lighten-4" href="http://ativesoft.com" target="_blank">Ativesoft</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">Ativesoft</a></span>
        </div>
    </div>
  </footer>
  <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->

    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>

    <!-- ANGULAR FIRE -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <!-- ANGULAR MOMENT -->
    <script src="http://momentjs.com/downloads/moment.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--angular-materialize js-->
    <script type="text/javascript" src="js/plugins/angular-materialize.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>   
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>

    <script type="text/javascript" src="js/plugins/formatter/jquery.formatter.min.js"></script>

    <script type="text/javascript">
        // $('#btnName').click(function(){
        //     var text = $('#namaLapangan').val() + '   <button>x</button>';
        //     if(text.length){
        //         $('<li />', {html: text}).appendTo('ul.justList')
        //     }
        // });

        // $('ul').on('click','button' , function(el){
        //     $(this).parent().remove()
        // });
        $('#field-name').formatter({
          'pattern': 'Field-{{9999}}',
          'persistent': true
        });
    </script>
    <script type="text/javascript">
      var app = angular.module("ezbooking", ["firebase", "ui.materialize", "ngAnimate", "toaster"]);

      app.controller("AddOutletController", ["$scope", "$firebaseAuth", "toaster", "$firebaseArray", "$firebaseObject", "$firebaseUtils", 
        function($scope, $firebaseAuth, toaster, $firebaseArray, $firebaseObject, $firebaseUtils) {

          var ref = new Firebase("https://ez-booking.firebaseio.com/users");
          var users = $firebaseArray(ref.orderByChild("type").equalTo(1));
          $scope.outlet = {lat: 0, lng: 0};
          
          var param = window.location.hash.substring(1);
          var posUserId = param.indexOf("&");

          var day_id = param.substring(1, 4);
          var day_id_lower = day_id.toLowerCase();

          var outletKey = param.substring(posUserId+1);

          $scope.outletId = outletKey;

          $scope.supplier = users;
          $scope.outlet = [{selected: {}}];
          $scope.harga = [{selected: {}}];
          $scope.outlet = [{gambar: {}}];
          $scope.outlet.selected = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15:0, 16:0, 17:0};
          $scope.outlet.selectedAfterNotNull = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15:0, 16:0, 17:0};
          $scope.outlet.priceSelected = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15:0, 16:0, 17:0};
          // $scope.outlet.gambar = {0: "", 1: "", 2: "", 3: ""};
          $scope.name = 0;

          var authRef = new Firebase("https://ez-booking.firebaseio.com/");
          auth = $firebaseAuth(authRef);
          $scope.logout = function()
          {
              auth.$unauth();
              window.location.href = 'login.html';
          }

          // var getDataRef = new Firebase("https://ez-booking.firebaseio.com/operationHours/"+outletKey+"/"+day_id_lower);
          // var getDataObj = $firebaseObject(getDataRef);
          // getDataObj.$loaded()
          //   .then(function(data) {
          //     $scope.jamOutlet = data;
          //     console.log(data);
          //     if(data != null)
          //     {
          //       $scope.outlet.priceSelecteds = $firebaseUtils.toJSON(data);
          //     }
              
          //   })
          //   .catch(function(error) {
          //     // Display toast here
          //   });
          auth.$onAuth(function(authData) {
            if (authData) {
              var obj = $firebaseObject(ref.child(authData.uid));
              obj.$loaded()
                .then(function(data) {
                  $scope.authUser = data;
                })
                .catch(function(error) {
                  // Display toast here
                });
            } else {
              window.location.href="login.html";
            }
          });

          $scope.save = function(outlet){
            var formMask = document.getElementById('field-name').value;
            var lowerFormMask = formMask.toLowerCase().trim();
            var operationHoursRef = new Firebase("https://ez-booking.firebaseio.com/operationHours/"+outletKey+"/"+day_id_lower+"/"+lowerFormMask);
            

            // var lat = angular.element('#lat').val();
            // var lng = angular.element('#lng').val();
            // $scope.outlet.lat = lat;
            // $scope.outlet.lng = lng;
            // $scope.outlet.picture = "";
            // $scope.outlet.rate = 0;

            // if($scope.outlet === undefined)
            // {
            //     toaster.pop('error', "Please fill the missing field.");
            //     return;
            // }
            // else if($scope.outlet.value === undefined || $scope.outlet.value === '')
            // {
            //     toaster.pop('error', "Please choose the supplier.");
            //     return;
            // }
            // else if($scope.outlet.name === undefined || $scope.outlet.name === '')
            // {
            //     toaster.pop('error', "Please fill the name field.");
            //     return;
            // }
            // else if($scope.outlet.description === undefined || $scope.outlet.description === '')
            // {
            //     toaster.pop('error', "Please fill the description field.");
            //     return;
            // } 
            // else if($scope.outlet.price === undefined || $scope.outlet.price === '')
            // {
            //     toaster.pop('error', "Please fill the price field.");
            //     return;
            // }
            // else if($scope.outlet.lng === undefined || $scope.outlet.lng === '')
            // {
            //     toaster.pop('error', "Please choose the location.");
            //     return;
            // }
            // else if($scope.outlet.lat === undefined || $scope.outlet.lat === '')
            // {
            //     toaster.pop('error', "Please choose the location.");
            //     return;
            // }
            
            var outletData = {
                operationHours: $scope.outlet.priceSelected
            };

            // if($scope.jamOutlet.$value === undefined)
            // {
              
            //   operationHoursRef.set($scope.outlet.priceSelecteds, function(error) {
            //     if (error) {
            //       // Display toast here
            //     } else {
            //       window.location.href="outlet.html";
            //     }
            //   });
            // }
            // else if($scope.jamOutlet.$value == null)
            // {
              console.log($scope.outlet.priceSelected);
              operationHoursRef.set($scope.outlet.priceSelected, function(error) {
                if (error) {
                  // Display toast here
                } else {
                  window.location.href="outlet.html";
                }
              });
            // }
            
            // var userRef = new Firebase("https://ez-booking.firebaseio.com/users");
            // userRef.child(outlet.value).child("assignStatus").set(1);
          };
          $scope.toggleAll = function(source) {
                if($scope.selectedAll)
                {
                    $scope.outlet.selected = {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1};
                }
                else
                {
                    $scope.outlet.selected = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0};
                }
          }
          

          $scope.times = [
          {
            id: 1,
            name: '06.00 - 07.00',
            col: 1
          },
          {
            id: 2,
            name: '07.00 - 08.00',
            col: 1
          },
          {
            id: 3,
            name: '08.00 - 09.00',
            col: 1
          },
          {
            id: 4,
            name: '09.00 - 10.00',
            col: 1
          },
          {
            id: 5,
            name: '10.00 - 11.00',
            col: 1
          },
          {
            id: 6,
            name: '11.00 - 12.00',
            col: 1
          },
          {
            id: 7,
            name: '12.00 - 13.00',
            col: 1
          },
          {
            id: 8,
            name: '13.00 - 14.00',
            col: 1
          },
          {
            id: 9,
            name: '14.00 - 15.00',
            col: 1
          },
          {
            id: 10,
            name: '15.00 - 16.00',
            col: 2
          },
          {
            id: 11,
            name: '16.00 - 17.00',
            col: 2
          },
          {
            id: 12,
            name: '17.00 - 18.00',
            col: 2
          },
          {
            id: 13,
            name: '18.00 - 19.00',
            col: 2
          },
          {
            id: 14,
            name: '19.00 - 20.00',
            col: 2
          },
          {
            id: 15,
            name: '20.00 - 21.00',
            col: 2
          },
          {
            id: 16,
            name: '21.00 - 22.00',
            col: 2
          },
          {
            id: 17,
            name: '22.00 - 23.00',
            col: 2
          },
          {
            id: 18,
            name: '23.00 - 24.00',
            col: 2
          }
          ];
      }]);
    </script>
</body>

</html>