<!DOCTYPE html>
<html ng-app="ezbooking" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Data Tables | Materialize - Material Design Admin Template</title>

  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->    
  <link href="css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
  
  


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/data-tables/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />
  <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body ng-controller="WalletController">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">                        
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
  <toaster-container></toaster-container>
    <!-- START WRAPPER -->
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li>
                                    <li><a href="" ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{authUser.name}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="bold"><a href="supplier.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Supplier</a>
                    </li>
                    <li class="bold"><a href="outlet.html" class="waves-effect waves-cyan"><i class="mdi-action-room"></i> Outlet</a>
                    </li>         
                    <li class="bold active"><a href="wallet.html" class="waves-effect waves-cyan"><i class="mdi-action-payment"></i> Wallet</a>
                    </li>
                    <li class="bold"><a href="booking.html" class="waves-effect waves-cyan"><i class="mdi-action-schedule"></i> Booking</a>
                    </li>          
                </ul>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content">
        
        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Wallet</h5>
                <ol class="breadcrumbs">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active">Wallet</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->
        

        <!--start container-->
        <div class="container">
          <div class="section">

            <a href="add-wallet.html" class="waves-effect waves-light btn">add new</a>
            
            <a class="waves-effect waves-light btn modal-trigger" href="#modal3">assign</a>
            <!--DataTables example-->
            <div id="table-datatables">
              <div class="row">
                <div class="col s12 m12 l12">
                  <table datatable="ng" class="responsive-table display" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="200px">Voucher Code</th>
                            <th>Amount</th>
                            <th>Customer</th>
                            <th>Outlet</th>
                            <th>Status</th>
                            <th>Paid</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody ng-init="items.total = {}">
                        <tr ng-repeat="(i, wallet) in wallets">
                            <td>
                                <input ng-if="wallet.outletId == ''" type="checkbox" id="{{i}}" class="checkbox" ng-model="dompet.selected[i]" value="" ng-true-value="'{{wallet.$id}}'" ng-false-value="null"/>
                                <label for="{{i}}"></label>
                                
                            </td>
                            <td>{{wallet.$id}}</td>
                            <td ng-init="items.total.amount = items.total.amount + wallet.amount">{{wallet.amount}}</td>
                            <td ng-repeat="customer in customers" ng-if="wallet.customerId == customer.$id "> {{customer.name}} </td>
                            <td ng-if="wallet.customerId == '' "> - </td>
                            <td ng-repeat="outlet in outlets" ng-if="wallet.outletId == outlet.$id">{{outlet.name}}</td>
                            <td ng-if="wallet.outletId == '' "> - </td>
                            <td ng-if="wallet.status == 0">Active</td>
                            <td ng-if="wallet.status == 1">Assigned</td>
                            <td ng-if="wallet.status == 2">Used</td>
                            <td ng-if="wallet.status == 3">Paid</td>
                            <td><a ng-repeat="outlet in outlets" ng-if="wallet.outletId == outlet.$id && wallet.status == 2" ng-click="paid(wallet.$id)" class="waves-effect waves-light btn cyan">Paid</a></td>
                            <td><a ng-repeat="outlet in outlets" ng-if="wallet.outletId == outlet.$id" ng-click="delete(outlet.$id, wallet.$id)" class="waves-effect waves-light btn cyan">Delete</a></td>
                        </tr>
                        <!-- <tr>
                            <td>a</td>
                            <td>a</td>
                            <td>{{items.total.amount}}</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
            <br>
           
          </div>
          
        </div>
        <!--end container-->
        <div id="modal3" class="modal">
          <div class="modal-content teal white-text">
            <p>Please choose the outlet</p>
            <select class="browser-default" ng-model="wallet.outletValue" material-select watch>
                <option value="">Please choose the outlet</option>
                <option ng-repeat="outlet in outlets" value="{{outlet.$id}}">{{outlet.name}}</option>
            </select>
          </div>
          <div class="modal-footer  teal lighten-4">
            <a href="" class="waves-effect waves-red btn-flat modal-action modal-close">Cancel</a>
            <a href="" ng-click="assign()" class="waves-effect waves-green btn-flat modal-action modal-close">OK</a>
          </div>
        </div>
      </section>
      <!-- END CONTENT -->

      <!-- //////////////////////////////////////////////////////////////////////////// -->
      

    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2016 <a class="grey-text text-lighten-4" href="http://ativesoft.com" target="_blank">Ativesoft</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">Ativesoft</a></span>
        </div>
    </div>
  </footer>
    <!-- END FOOTER -->

    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script> 
    <script type="text/javascript" src="js/plugins/data-tables/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-datatables.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
    
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>


    <!-- ANGULAR MOMENT -->
    <script src="http://momentjs.com/downloads/moment.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>

    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
    
    
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>

    <script type="text/javascript">
      var app = angular.module("ezbooking", ["firebase", "angularMoment", "datatables", "ngResource", "ngAnimate", "toaster"]);

      app.controller("WalletController", ["$scope", "$firebaseAuth", "$firebaseArray", "$firebaseObject", "toaster",
        function($scope, $firebaseAuth, $firebaseArray, $firebaseObject, toaster) {
          var userRef = new Firebase("https://ez-booking.firebaseio.com/users");
          var refOutlets = new Firebase("https://ez-booking.firebaseio.com/outlets");
          $scope.outlets = $firebaseArray(refOutlets);
          $scope.customers = $firebaseArray(userRef);

          var ref = new Firebase("https://ez-booking.firebaseio.com/wallets");

          $scope.wallets = $firebaseArray(ref);
          $scope.dompet = {selected: []};
          $scope.wallet= {outletValue: ""};

          // $scope.calcTotal = function(){
          //   var total = 0;
          //   angular.forEach($scope.wallets, function(user){
          //     total += $scope.wallets.amount;
          //     console.log($scope.wallets.amount);
          //   })
          //   return total;
          // }

          var authRef = new Firebase("https://ez-booking.firebaseio.com/");
          auth = $firebaseAuth(authRef);
          $scope.logout = function()
          {
              auth.$unauth();
              window.location.href = 'login.html';
          }

          auth.$onAuth(function(authData) {
            if (authData) {

              var obj = $firebaseObject(userRef.child(authData.uid));
              obj.$loaded()
                .then(function(data) {
                  $scope.authUser = data;
                })
                .catch(function(error) {
                  // Display toast here
                });
            } else {
              window.location.href="login.html";
            }
          });

          $scope.delete = function(outletId, walletId){
              var upvotesRef = new Firebase('https://ez-booking.firebaseio.com/outlets/'+outletId+'/totalWallets');
              upvotesRef.transaction(function (current_value) {
                return (current_value || 0) - 1;
              }); 

              var ref = new Firebase("https://ez-booking.firebaseio.com/wallets/"+walletId);
              ref.remove();
          };

          $scope.paid = function(walletId){
              var ref = new Firebase("https://ez-booking.firebaseio.com/wallets/"+walletId);
                ref.update({ status: 3 });
          };

          $scope.assign = function(){

              // console.log($scope.dompet.selected.length);
              // for (var i = 0; i < $scope.dompet.selected.length; i++) 
              // {   
              //     if($scope.dompet.selected[i] != null)
              //     {
              //         console.log("masuk tidak = null");
              //     }
              // }
              if($scope.dompet.selected.length == 0)
              {
                  toaster.pop('error', "Please choose the voucher.");
                  return;
              }

              else if($scope.wallet.outletValue == "" || $scope.wallet.outletValue == undefined)
              {
                  toaster.pop('error', "Please choose the outlet.");
                  return;
              }

              var outletId = $scope.wallet.outletValue;
              var i = 0;
              var upvotesRef = new Firebase('https://ez-booking.firebaseio.com/outlets/'+outletId+'/totalWallets');
              angular.forEach($scope.dompet.selected, function(value) {
                var ref = new Firebase("https://ez-booking.firebaseio.com/wallets/"+value);
                if(value != null)
                {
                    ref.update({ outletId: outletId, status: 1 });
                }
                i++;
              }); 
              upvotesRef.transaction(function (current_value) {
                return (current_value || 0) + i;
              }); 
              window.location.href="wallet.html";
          };
          
        }]);
    </script>
</body>

</html>